.button {
    width: var(--spacing-x-large);
    height: var(--spacing-large);
    border-radius: 4px;
    cursor: pointer;
}

.button--hover:hover {
    background-color: var(--hover-color);
}

.button--active:active {
    color: var(--active-color);
}