.component__checkbox {
    display: flex;
    align-items: center;
    gap: var(--spacing-small);
    cursor: pointer;
}

.component__checkbox-input {
    width: var(--spacing-large);
    height: var(--spacing-large);
    cursor: pointer;
}

.component__checkbox-label {
    font-size: var(--font-size-base);
    color: var(--color-black);
}