@font-face {
    font-family: Lato-Regular;
    src: url(../assets/fonts/Lato-Regular.ttf);
}

html,
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Lato-Regular;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar {
    background-color: var(--color-primary);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: var(--spacing-large);
    justify-content: center;
}

.navbar__item {
    padding: 15px 32px;
    border-radius: 4px;
    cursor: pointer;
}

.navbar__item--active {
    background-color: var(--hover-color);
    border-color: var(--color-base);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.component__name {
    margin-bottom: var(--spacing-medium);
    color: black;
}

.component__examples {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
}


.hidden {
    display: none;
}