.input {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
}

.input__label {
    font-size: var(--font-size-base);
    color: var(--color-black);
}

.input__field {
    padding: var(--spacing-small);
    border: 1px solid var(--color-black);
    border-radius: 4px;
    background-color: var(--color-secondary);
    font-size: var(--font-size-base);
}

.input--hover:hover {
    border-color: var(--hover-color-2);
}

.input--active:focus {
    border-color: var(--active-color);
    outline: none;
}