.modal__button {
    padding: 15px 32px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s linear;
}

.modal__button:active {
    transform: scale(0.99);
}

.modal__button:hover {
    background-color: var(--hover-color);
}

.modal__title {
    text-align: center;
}

.modal__content {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
    border: 2px solid black;
    padding: var(--spacing-small);
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
    gap: var(--spacing-small);
}

.modal__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: var(--spacing-small);
    line-height: 1.5rem;
    background-color: #fff;
    border-radius: 4px;
}

.modal__close-button {
    padding: 4px;
}

.hidden {
    display: none;
}