.slideshow__container {
    max-width: 650px;
    position: relative;
}

.slideshow__counter {
    text-align: center;
    padding: 4px 0;
}

.slideshow__card {
    width: 100%;
    height: auto;
}

.slideshow__img {
    width: 100%;
    height: auto;
}

.buttonNext,
.buttonPrev {
    padding: 4px 8px;
    position: absolute;
    top: 55%;
    transform: translateY(-55%);
    cursor: pointer;
    font-size: 1.6rem;
}

.buttonPrev {
    left: 0;
}

.buttonNext {
    right: 0;
}