.component {
    position: relative;
}

.component__toast-button {
    padding: 15px 32px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s linear;
}

.component__toast-button:hover {
    background-color: var(--hover-color);
}

.component__toast-button:active {
    transform: scale(0.99);
}

.component__toast-message {
    color: black;
    background-color: var(--color-base);
    border: 2px solid black;
    padding: 15px 32px;
    border-radius: 4px;
    position: absolute;
    bottom: 10px;
    opacity: 0;
    transition: opacity 0.9s linear;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}

.visible {
    opacity: 1;
}